<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZxpvqnVFfGp60Qnu-fDTEoz1aeMAzvqY</string>
	<key>GCM_SENDER_ID</key>
	<string>7130056417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usertouserchat</string>
	<key>PROJECT_ID</key>
	<string>usertouserchat-f8037</string>
	<key>STORAGE_BUCKET</key>
	<string>usertouserchat-f8037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7130056417:ios:00a1f5d3e3d2d77910d9a0</string>
</dict>
</plist>